*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 12px;
   }
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background:linear-gradient(125deg,red,gold);
}
/*============== top bar================================================== */
.x-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    margin-right: 10px; 
    height: 50px;
}

.loha-x h4{

    color: white;
        margin-top: 20px;
        margin-right:20px;
        margin-left: 5px;
        font-size: 20px;
}
.loha h4{

    color: white;
        margin-top: 20px;
        margin-right:20px;
        margin-left: 5px;
        font-size: 30px;
        font-weight: 600;
}

.loha a,.loha-x a{
    text-decoration: none;
}

.loha img{
    padding: 3px;
    border-radius: 50%;
}
/*================ media diaplay===================================== */
.media-area{
    display: flex;
    max-width: 100%;
    background: gold;
    align-content: center;
    justify-content:space-around;
}

.image img {
    width: 350px;
    height: 150px;
    background: red;
    border: 2px solid white;
    margin-top: 10px;
    
}
.video-box video{
    width: 250px;
    height: 150px;
    border-radius: 2px;
    border: 2px solid black;
    background:blue;
    margin-top: 10px;
    
}
/*=================== file text display =====================================*/
.text-file{
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
}
#file-content{
    width: 95vw;
    height: 100vh;
    margin-left: 30px;
    text-align:left;
    padding: 3px;
    background-color: lightblue;
    margin-top: 3px;
    border-radius: 10px;
}

/*========= Dialogs boxes================================================ */
.file-dialog-boxes{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 40px;
    border: 2px solid red;
    margin-left: 1px;
    margin-right: 1px;
    background: linear-gradient(65deg,orange,red);
}

/* .video-dialog span{
    font-size: 14px;
} */
.video-dialog input,.image-dialog input,.csv-dialog input{
    margin-top: 5px;
    margin-right: 3px;
    width: 200px;
    color: white;
    border-radius: 20px;
}

.file-dialog-boxes input:hover{
    font-size: 11px;
    color: red;
    cursor: pointer;
}
.file-dialog-boxes span{
    font-size: 14px;
    color: white;
    margin-left: 3px;
}
.video-dialog,.csv-dialog,.image-dialog,.text-dialog {
    border: 1px solid black;
    margin: 2px 2px 2px 2px;
    font-size: 8px;
}
