*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium'; 
    /* background:linear-gradient(245deg,darkblue,blue,darkblue,blue); */
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 background:linear-gradient(-245deg,darkblue,gold,orange);
    /* background:linear-gradient(245deg,darkblue,blue,darkblue,blue); */
    /* box-shadow: 2px 33px 4px white; */
    margin-bottom: 2px;
    /* border: 2px solid white; */
}
.header h5{
    margin-top: 5px;
    margin-left: 5px;
    /* color: #c471ed; */
    color: red;
    /* color: goldenrod; */
    font-style: italic;
    font-size: 15px;
}
.btn{
    margin-top: 15px;
    margin-right: 5px;
}
.btn button{
 background: transparent;
 /* color: #c471ed; */
 /* color: goldenrod; */
 color: red;
 border: none;
 margin-left: 5px;
 margin-right: 5px;
font-size:18px;
}
.btn button:hover{
    cursor: pointer;
    color: greenyellow;
}

/* Main Container */
.container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    height: 82vh;
    /* background:linear-gradient(245deg,darkblue,blue,darkblue,blue) */
    background:linear-gradient(45deg,white,white)

}
.lhs{
    width: 50%;
    /* border: 2px solid red; */
    border: 2px solid goldenrod;
    padding: 3px;
    margin: 3px;
    /* border-bottom-right-radius: 50%; */
    border-top-right-radius: 150%;
    /* box-shadow: 2px 3px 74px white; */
    box-shadow: 2px 3px 74px gold;
    background-image: url("images/najaf.jpg");
    background-size: cover;

}
.lhs-text{
    display: flex;
    margin-top: 430px;
    margin-left: 3px;
    color: white;
    font-size: 40px;
}
.display-2{
    position: absolute;
    color: brown;
    text-transform: uppercase;
    background-image: linear-gradient(-250deg,#12c2e9 0%,#c471ed 50%, white 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: bgText 5.5s linear infinite;
    /* font-size: 3em; */
    }
    @keyframes bgText
    {
        to{
            background-position: -200% center;
        }
    }  

.display-3{
    margin-top: 80px;
    margin-left:510px;
    font-size: 25px;
    color:#c471ed;
    animation: bgText 5.5s linear infinite;
    background-image: linear-gradient(-250deg,red 0%,green 50%, white 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: bgText2 6.5s linear infinite;

}
@keyframes bgText2
{
    to{
        background-position: -200% center;
    }
}  

.rhs{
    width: 50%;
    border: 2px solid green;
    padding: 3px;
    margin: 3px;
    border-bottom-left-radius: 150%;
    box-shadow: 2px 3px 74px green;
}
.my-video{
    width: 550px;
    margin-left: 150px;
    margin-top: 90px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 35px;
    border-top-right-radius:35px ;
    /* border-top-left-radius: 35px; */
    box-shadow: 2px 13px 74px red;
}
/* Footer */
.footer{
    /* display: flex;
    justify-content: space-between;
    align-content: center; */
    width: 100vw;
    height: 40px;
    background:linear-gradient(245deg,black,red,black);
    border-top-right-radius: 50px;
    margin-bottom: 2px;
    box-shadow: 12px 3px 14px red;

}
.footer-text{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    font-size: 18px;
    font-style: italic;
}
.footer-text a{
    text-decoration: none;
    color: white;
}

/* Joinus */
.joinus-container{
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    justify-content: flex-start;
    color: white;
    width: 100vw;
    height: 80vh;
    background-image: url("images/najaf.jpg");
    background-size: cover;
   
  
}

.f-input{
    margin-left: 5px;
    width: 300px;
    height: 25px;
    background: transparent;
    border: 1px solid gold;
}

.form-container textarea{
    margin-left: 5px;
    width: 300px;
    /* background: transparent; */
    border: 1px solid gold;
}
.form-container fieldset{
    width: 300px;
    height: 110px;
    font-size: 11px;
    border: 1px solid red;
}
.label1{
    margin-left: 5px;
    width: 150px;
}

.btn-submit{
    margin-left: 150px;
    background: transparent;
    color: white;
    width: 150px;
    border-radius: 30px;
    border: 2px solid gold;
}
.btn-submit:hover{
    cursor: pointer;
    color: greenyellow;
    font: 14px;
    border: 2px solid red;
}
.form-title{
    margin-left: 5px;
}
.form-title p{
    font-size: 10px;
    text-align: justify;
}
.form-title-p{
    width: 300px;
}


/* About Page */
.about-p{
    /* color: white; */
    color: black;
    overflow-y: scroll;
    scroll-behavior: auto;
    font-family: serif;
    font-size: 15px;
    padding: 3px;
}

/* contact us page  LohaStructure*/
.contactus-container{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.text-contactus{
    width: 350px;
    height: 78vh;
    color: black;
    font-family: BatangChe;
    font-family:Aril;
}
.text-contactus h4{
    color: #c471ed;
}
.text-contactus h5{
    color: #c471ed;
    font-weight: 500;
    font-size: 20px;
}

.img-contactus img{
    height:550px;
    width: 650px;
    padding: 3px;
    border-radius: 20px;
}
.btn-join-contectus{
    background: linear-gradient(45deg, blue, white);
    border-radius: 20px;
    width: 84px;
    height:20px;
    border: none;
    color:red;


}
.btn-join-contectus:hover{
    cursor: pointer;
    color: greenyellow;
    background: linear-gradient(-45deg, blue, white);
}
